
<mat-card>
<h2>Profile Details</h2>
<mat-card-content>
<div class="bootstrap-wrapper">

    <div class="container">

        <div class="container text-center">
            <img src="../../../assets/logo-modified.png" alt="">
        </div>

        <div class="container text-center">

            <!-- <img src="C:\Users\DELL\Desktop\exam\examFrontEnd\src\assets\defaultDP.jpg" alt=""/> -->

            <h2>{{user.firstName}}</h2>
        </div>

        

        <div class="row">

            <div class="col-md-10 offset-md-1">

                <table class="table text-center">

                    <tr>
                        <td>First Name</td>
                        <td>{{user.firstName}}</td>
                    </tr>
                    <tr *ngIf="!user.lastName == null">
                        <td>Last Name</td>
                        <td>{{user.lastName}}</td>
                    </tr>
                    <tr>
                        <td>Username</td>
                        <td>{{user.userName}}</td>
                    </tr>
                    <tr>
                        <td>Id</td>
                        <td>{{user.id}}</td>
                    </tr>
                    <tr>
                        <td>Role</td>
                        <td>{{user.authorities[0].authority}}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{user.email}}</td>
                    </tr>
                    <tr>
                        <td>Phone No.</td>
                        <td>{{user.phone}}</td>
                    </tr>
                </table>


            </div> 
        </div>
    </div>
</div>
</mat-card-content>
</mat-card>